html {
  background-color: #FAB217 !important;
}


h1,
h2 {
  font-family: "Oswald", serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal !important;
}

img {
  width: 100%;
  border: 1px solid black;
}

.img-subtitle {
  font-style: italic;
  font-size: small;
}

.large-font {
  font-size: 2em;
}